.calendar {
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
  justify-content: center;
}

calendar-date{
  background-color: #fafafa; 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  
}
calendar-date {
  svg {
    height: 16px;
    width: 16px;
    fill: none;
    stroke: currentColor;
    stroke-width: 1.5;
  }
  path {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  &::part(heading) {    
    color: #062f1d;
  }
  &::part(button) {
    border: 1px solid #adb5bd;
    background-color: #fff;
    border-radius: 3px;
    width: 26px;
    height: 26px;
  }
  &::part(button):hover {
    background-color: #e0e0e0;
    transition: 200ms;
  }
  &::part(button):focus-visible {
    outline: 2px solid #062f1d;
  }
  calendar-month {
    --color-accent: #00af50;
    --color-text-on-accent: #ffffff;
    &::part(heading) {    
      color: #00af50;
      text-transform: capitalize;
    }
  }

}
