@import "tailwindcss";
@import 'tailwindcss';
@plugin "@iconify/tailwind4";
@plugin "@tailwindcss/typography";

@theme{
  --color-light-green:#00af50;
  --color-dark-green:#062f1d;
  --color-light-red: #cd181b;
  --color-dark-red: #94191a; 
  --color-gray:#f4f4f4;  
  --font-sans: var(--font-montserrat); /* Asigna Montserrat a la utilidad font-sans */
  --font-serif: var(--font-marcellus);
  --font-montserrat: "Montserrat", sans-serif;
  --font-marcellus: "Marcellus", serif;
}
/* @layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
}*/
body {
  font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-family: var(--font-marcellus);
}
p,
li,
a,
span,
button {
  font-family: var(--font-montserrat);
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  align-items: center;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 